*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Common class / typography */
.container{
    width: 78%;
    margin: 0 auto;
}
.heading{
    font-size: 36px;
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 20px;
}
.category{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 25px;
    border-radius: 16px;
}
.category h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}
#nav,
#hero,
#newsletter{
    margin-bottom: 60px;
}
#nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-container .logo{
    width: 100%;
    max-width: 148px;
}

/* Hero Section */
#hero-container{
    display: flex;
    justify-content: space-between;
    background-color: #feeae9;
    padding: 40px;
    border-radius: 24px;
    align-items: center;
    gap: 60px;
}
.hero-content *{
    margin-bottom: 10px;
}
.hero-content h1{
    font-weight: bold;
    font-size: 48px;
}
.hero-content p{
    color: #4e4e4e;
    line-height: 26px;
}
.hero-content h2{
    color: #ff136f;
    font-weight: medium;
    font-size: 41px;
}
.hero-content .btn{
    padding: 12px 28px;
    background-image: linear-gradient(#ff589b, #ff136f);
    color: white;
    border: none;
    border-radius: 6px;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.hero-image{
    width: 100%;
    max-width: 400px;
}
#category,
#shoes,
#bags{
    margin-bottom: 100px;
}
.category-box{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.product-box{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.product-card{
    padding: 25px;
    border-radius: 20px;
    border: 2px solid #929292;
    max-width: 320px;
    text-align: center;
}
.product-card img{
    width: 100%;
}
.product-card *{
    margin-bottom: 10px;
}
.product-card h3{
    font-size: 20px;
}
.product-card p{
    font-size: 14px;
    line-height: 20px;
    color: #4e4e4e;
}
.product-card h4{
    font-size: 20px;
    font-weight: 600;
}
.product-card button{
    padding: 14px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#news-container{
    background-color: #fff2f1;
    padding: 140px;
    text-align: center;
}
#news-container h1{
    color: #1f1f1f;
    font-weight: 600;
    font-size: 30px;
}
#news-container p{
    color: #707070;
    font-weight: 500;
}
#news-container form{
    margin-top: 20px;
    display: flex;
}
#news-container form input[type=email]{
    width: 100%;
    max-width: 683px;
    padding: 10px;
    border: none;
}
#news-container form button{
    padding: 12px 28px;
    background-image: linear-gradient(#ff589b, #ff136f);
    color: white;
    border: none;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}